[Desktop Entry]
Name=Cliphoard Applet
Comment=COSMIC™ applet for cliphoard
Type=Application
Icon=com.github.al-ula.CliphoardApplet
Exec=cliphoard-applet %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
