[Desktop Entry]
Name=Cliphoard
Comment=Clipboard manager for COSMIC desktop
Exec=cliphoard
Icon=com.github.al_ula.Cliphoard
Terminal=false
Type=Application
Categories=Utility;
Keywords=clipboard;copy;paste;history;
StartupNotify=true
