[Desktop Entry]
Name=Cliphoard
Comment=Clipboard manager with libcosmic and wl-clipboard
Type=Application
Icon=com.github.al-ula.Cliphoard
Exec=cliphoard %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
